.list-container {
  padding: 15px 10px;

  @media (min-width: 768px) {
    padding: 30px;
  }

  .list {
    .list-item {
      cursor: pointer;
      padding: 5px 0;

      @media (min-width: 768px) {
        padding: 0;
      }
    }
  }
}
